{% layout 'layout.liquid' %}
{% block content %}
<div class="container-md">
    <article>
        <h2>
            {{ example.title }}
        </h2>
        <h6>Directed by {{ example.director }}</h6>
        <h6>Length: {{ example.lengthMinutes }}min</h6>
        {% if example.owner == userId %}
        <div class="btn-group">
            
        </div>
        {% endif %}
    </article>
</div>
{% endblock %}